<table>
<% var i; for (i=0; i < quizes.length; i++) { %>
  <tr><td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td></tr>
<% } %>
</table>
<% if (quizes.length == 0) { %>
    <p>No se han encontrado Resultados</p>
<% } %>
<p><a href="/quizes/new"><button type="button">Crear pregunta</button></a></p>

<form action="/quizes" method="get">
  <label>Buscar pregunta</label>
  <input type="text" name="search" />
  <input type="submit" value="Buscar" />
</form>
