<form method="get" action="/quizes/answer">
  <p><label>Pregunta: <%= pregunta %></label></p>
  <input type="text" name="respuesta" value="Responda aquí" />
  <input type="submit" value="Enviar" />
</form>
