<form method="get" action="/quizes/<%= quiz.id %>/answer">
  <p><label>Pregunta: <%= quiz.pregunta %></label></p>
  <input type="text" name="respuesta" value="Responda aquí" />
  <input type="submit" value="Enviar" />
</form>
